.title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.input_wrapper {
    margin-top: 10px;
    position: relative;
}

.placeholder {
    left: 16px;
    right: 571px;
    top: 8px;
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: rgba(17, 17, 17, 0.48);
}

.children__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 33px;
}

.plus {
    width: 16.02px;
    height: 2.29px;
    border-radius: 138px;
    background-color: rgba(1, 167, 253, 1);
    margin-right: 8px;
    position: relative;
}

.plus::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 16.02px;
    height: 2.29px;
    border-radius: 138px;
    background-color: rgba(1, 167, 253, 1);
    transform: rotate(90deg);
}

.submit {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.error {
    color: red;
    margin-left: 10px;
    font-weight: 500;
}

@media screen and (max-width: 430px) {
    .plus {
        width: 10px;
        height: 2px;
        margin-right: 5px;
    }
    .plus::after {
        width: 10px;
        height: 2px;
    }
}