* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    color: #000000;
}

.container {
    padding: 30px 10px 0;
    width: 616px;
    margin: 0 auto;
    height: 100px;
}